<div class="wrapper">
  <app-table-actions></app-table-actions>
  <table class="table" #table>
    <thead>
    <tr>
      @if (showCheckBox) {
        <th>Select all <input type="checkbox" [checked]="isAllSelected" (change)="toggleRowSelection($event)"></th>
      }
      @for (value of headers; track headers) {

        <th (click)="onSort(value,order[value])">
          <div class="title">
            <strong>{{ value|titlecase }}</strong> <i class={{iconStyle[value]}}></i>
          </div>
        </th>
      }
    </tr>
    </thead>
    <tbody>
      @for (data of data.currentData; track data; let i = $index) {
        <tr (click)="onRowClick(data,i)" (change)="onRowChange(data,i)" [ngStyle]="{'background':selectedRowValues.includes(data)?focusColor:'none'
    }">
          @if (showCheckBox) {
            <td><input type="checkbox" [checked]="selectedRows[i]" (change)="toggleRowSelection($event, i)"></td>
          }
          @for (value of headers; track headers) {

            <td>{{ checkNested(data, value) }}</td>
          }
        </tr>
      }
    </tbody>
  </table>
  <div class="bottom-container">
    <div class="pagination">
      <button class="nav-btn" (click)="onPageChange(1)" [disabled]="data.startPage==1"><i
        class="pi pi-angle-double-left"></i></button>
      <button class="nav-btn" (click)="onPageChange(data.startPage-1)" [disabled]="data.startPage==1"><i
        class="pi pi-chevron-left"></i></button>
      @for (pages of data.pageRange; track pages; let i = $index) {

        <button (click)="onPageChange(pages)" [class.currentPage]="pages==data.startPage">{{ pages }}</button>
      }
      <button class="nav-btn" (click)="onPageChange(data.startPage+1)" [disabled]="data.startPage==data.totalPages"><i
        class="pi pi-chevron-right"></i></button>
      <button class="nav-btn" (click)="onPageChange(data.totalPages)" [disabled]="data.startPage==data.totalPages"><i
        class="pi pi-angle-double-right"></i></button>
    </div>
    <div class="totalPage">
      <p>Showing results {{ rowsPerPage * (data.startPage - 1) + 1 }}
        to {{ data.endPage > tableData.length ? tableData.length : data.endPage }} of {{ tableData.length }}</p>
    </div>
  </div>
</div>
