.wrapper{

  position: relative;
}

.bottom-container{
  padding: 24px;
  box-shadow: rgba(149, 157, 165, 0.6) 80px 0 24px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


table,th,td{
  border: 0.1px solid grey;
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}
th{
  color: white;
  background-color: mediumpurple;
}
table{
  width: 100%;
border: 0 solid red;
  table-layout: auto;
  height: calc(100% - 63px);
  margin-bottom: 66px;
  border-spacing: 30px;
}


.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  flex:1;
  margin-left: 6.25rem;

}
.wrapper{
  padding: 1.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.currentPage{
  color: white;
  background-color: mediumpurple;
  padding: 8px 12px;
  border-radius: 50%;
}
button{
  border: none;
  background:none;
  cursor: pointer;
  font-size: 15px;

}
.nav-btn:hover,.nav-btn:active{
  color: purple;
}
button[disabled]:hover{
  cursor: not-allowed;
  color: grey;
}

.totalPage{
  color: grey;
  font-size: 14px;
}
