<div class="wrapper">
  <table class="table" #table>

    <tr>
<th>Select all   <input type="checkbox" [(ngModel)]="isSelected" [checked]="isSelected"  ></th>
   @for(value of headers;track headers){

     <th (click)="onSort(value,orderBy)">{{value}} <i class={{icon}}></i></th>
   }
    </tr>
@for(data of newTableData;track data;let i=$index){
  <tr>
    <td><input type="checkbox"  [checked]="isSelected"></td>
    @for(value of headers;track headers){

  <td>{{data[value]}}</td>}
  </tr>
}
<tr>

</tr>
  </table>
<div class="bottom-container">
  <div class="pagination">
    <button class="nav-btn" (click)="onPageChange(1)" [disabled]="startPage==1"><i class="pi pi-angle-double-left"></i></button>
    <button class="nav-btn" (click)="onPageChange(startPage-1)" [disabled]="startPage==1"><i class="pi pi-chevron-left"></i></button>
    @for(pages of pageRange;track pages;let i=$index){

      <button (click)="onPageChange(pages)"  [class.currentPage]="pages==startPage">{{pages}}</button>

    }
    <button  class="nav-btn"  (click)="onPageChange(startPage+1)" [disabled]="startPage==totalPages"><i class="pi pi-chevron-right"></i></button>
    <button class="nav-btn" (click)="onPageChange(totalPages)" [disabled]="startPage==totalPages"><i class="pi pi-angle-double-right"></i></button>
  </div>
  <div class="totalPage">
    <p>Showing results {{rowsPerPage*(startPage-1)+1}} to {{end}} of {{tableData.length}}</p>
  </div>
</div>

</div>
