<div class="wrapper">
  <table class="table" #table>
    <tr>

   @for(value of headers;track headers){

     <th (click)="onSort(value,orderBy)">{{value}} <i class={{icon}}></i></th>
   }
    </tr>
@for(data of newTableData;track data;let i=$index){
  <tr>
    @for(value of headers;track headers){

  <td>{{data[value]}}</td>}
  </tr>
}
<tr>

</tr>
  </table>
  @for(pages of pageRange;track pages;let i=$index){
    <button (click)="onPageChange(pages)">{{pages}}</button>
  }
<!--@for(n of test;track n){-->
<!--  {{n}}-->
<!--}-->
<!--  <button (click)="onPageChange(2)">2</button>-->
<!--  <button (click)="onPageChange(3)">3</button>-->
<!--  <button (click)="onPageChange(4)">4</button>-->
</div>
